@import url(//fonts.googleapis.com/css?family=Lora);
@import url(https://fonts.googleapis.com/css?family=Roboto);
.signInBox{
background-color: white;
border-radius: 5px;
padding: 1rem;
padding-left: 2rem;
}


.inputUser{
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 5px;
    width: 35%;
    height: 35px;
}
.labelTag{
margin: 0;
}
.login{
margin-right: 3rem;
width: 6rem;
background: #485089;
border-radius: 25px;
}
#ForgottenPassword{
    position: absolute;
    right: 28% ;
}
.alignmentCenter{
    text-align: center;
}
.SignUpFormat{
background-color: white;
border-radius: 4px;
padding: 1rem;
}