@import url(//fonts.googleapis.com/css?family=Lora);
@import url(https://fonts.googleapis.com/css?family=Roboto);
.inputUser {
  background: #ffffff;
  border: 1px solid #000000;
  border-radius: 5px;
  width: 35%;
  height: 35px;
}

.login2 {
  margin-right: 3rem;
  width: 6rem;
  height: 2rem;
  background: #8d8fa2;
  border-radius: 25px;
  color: aliceblue;
}
.alignmentCenter {
  text-align: center;
}

.SignUpFormat {
  background-color: white;
  border-radius: 4px;
  padding: 1rem;
}
#verticalLine {
  border-left: 3px solid gray;
  margin-left: 3rem;
  height: 100%;
}
#horizontalLine {
  border-top: 3px solid gray;
  margin-top: 2rem;
  width: 100%;
}
.hideCompanySignIn {
  display: none;
}
.hideMedicalSignIn {
  display: none;
}
.centerB {
  margin-left: 40%;
  margin-right: 60%;
}

.btnGp {
  width: 6rem;
  height: 3rem;
  border-radius: 0;
  color: var(--color-button);
  font-weight: bolder;
  transition: background-color 0.5s;
  background-color: var(--color-button-secondary);
  border: 2px solid var(--color-button);
}

.btnGp:hover {
  background-color: var(--color-button);
}

.focused {
  background-color: var(--color-button);
  color: var(--color-button-secondary);
}

.btnGp:nth-child(1) {
  border-radius: 10px 0 0 10px;
  border-width: 2px 0px 2px 2px;
}
.btnGp:last-child {
  border-radius: 0 10px 10px 0;
}
@media (min-width: 504px) {
  .btnGp:nth-child(1) {
    border-radius: 10px 0 0 10px;
    border-width: 2px 0px 2px 2px;
  }
  .btnGp:last-child {
    border-radius: 0 10px 10px 0;
    border-width: 2px 2px 2px 0px;
  }
}

.align {
  text-align: center;
  text-decoration: none;
  color: inherit;
  padding-left: 5%;
  padding-right: 5%;
}

#show {
  display: inline-block;
  padding: 10px 20px;
  background-color: #2e7b2e;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0;
}
